*[b-n3sxqjud81] {
    margin: 0;
    padding: 0;
}

.h1-header[b-n3sxqjud81] {
    display: block;
    text-align: center;
    font-size: 50px;
    font-family: fantasy;
}
.content[b-n3sxqjud81]{
    display: contents;
}
.text-content[b-n3sxqjud81] {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    margin: 5px;
}
.image[b-n3sxqjud81]{
    margin-left: -5px;
    margin: 5px;
}
