@page "/store"

<PageTitle>Store</PageTitle>

<h1 class="h1-header">Самый больой магазин в городе!</h1>
<div class="content">
    <div class="content-images">
        <span class="image">
            <img src="Store.png" height="350" width="600" />
        </span>
        <span class="image">
            <img src="Store2.png" height="350" width="600" />
        </span>
    </div>
    <div class="text-content">
        <h2>
            Тц. "Центральный"
        </h2>
        <p id="p info">
            "Центральный" в Лысьве - это удобный комплекс с площадью 2 275,52кв м, расположенный в самом центре города.<br />
            Внутри ТЦ "Центральный" есть множество отделов, которые могут удовлетворить все потребности посетителей.
            Здесь можно найти одежду, обувь, аксессуары, товары для дома, электронику, продукты питания и многое другое.
        </p>
    </div>

</div>