@page "/biggestschool"

<PageTitle>School</PageTitle>

<h1 class="h1-header">Самая большая школа в городе!</h1>
<div class="content">
    <div class="content-images">
        <span class="image">
            <img src="SchoolOutSide.png" height="350" width="600" />
        </span>
        <span class="image">
            <img src="NightSchool.png" height="350" width="600" />
        </span>
    </div>
    <div class="text-content">
        <h2>
            Лицей "ВЕКТОРиЯ"
        </h2>
        <p id="p info">
            17 января 2020 года открылся МАОУ лицей "ВЕКТОРиЯ" в г. Лысьва, Пермского края.<br /> Лицей построен в рамках нацпроекта «Образование»
            Новый трёхэтажный корпус общей площадью более 25 тыс. м2, оборудован 3 спортзалами.<br />
            Образовательный процесс организован в 44 учебных кабинетах.
            Все учебные кабинеты оборудованы современными техническими средствами, позволяющими вести занятия в интерактивном режиме.
        </p>
    </div>

</div>

