@page "/"

<PageTitle>Home</PageTitle>

<h1 class="main-header">Рекорды гиннеса города Лысьва!</h1>
<div>
    <h3>
    </h3>
    <ol class="text-content">
        <li>Самое короткое название улицы!</li>
        <li>Самый большой парк!</li>
        <li>Самый большой магазин!</li>
        <li>Самая большая школа!</li>
        <li>Самый длинный водопровод!</li>

    </ol>
</div>