@page "/longestpipe"

<PageTitle>Longest Pipe</PageTitle>

<h1 class="h1-header">Самый длинный водопровод в стране!</h1>
<div class="content">
    <div class="content-images">
        <span class="image">
            <img src="LongestPipe.png" height="350" width="600" />
        </span>
        <span class="image">
            <img src="LongestPipe2.png" height="350" width="600" />
        </span>
    </div>

    <div class="text-content">
        <h3>
            Водопровод
        </h3>
        <p id="p info">
            В Лысьве, Пермский край, установлен рекорд России при прокладке магистрального водопровода под прудом.
            Длина трубы составляет 774 метра, что является рекордом для России!
            Общая протяженность новых сетей водоснабжения составляет около 6 км.
            Проект повысил надежность водоснабжения для более чем 8 тыс. жителей города.
        </p>
    </div>
</div>