@page "/pushkinpark"

<PageTitle>Pushkin Park</PageTitle>

<h1 class="h1-header">Самый большой парк в городе!</h1>
<div class="content">
    <div class="content-images">
        <span class="image">
            <img src="Park.png" height="350" width="600" />
        </span>
        <span class="image">
            <img src="Park2.png" height="350" width="600" />
        </span>
    </div>
    <div class="text-content">
        <h2>
            Парк имени А.С. Пушкина
        </h2>
        <p id="p info">
            Парк был заложен весной 1908 г. на пустыре на окраине тогдашней Лысьвы.
            Инициатива создания парка принадлежала старшему лесничему Лысьвы (в 1902—1913 гг.) Александру Владимировичу Зануцци.
            С севера на юг парк протянулся на 250 м, а с запада на восток — на 75 м.
        </p>
    </div>
    
</div>