@page "/street"
<PageTitle>Street</PageTitle>

<h1 class="h1-header">Самое короткое название улицы в городе!</h1>
<div class="content">
    <div class="content-images">
        <span class="image">
            <img src="Street.png" height="350" width="600" />
        </span>
        <span class="image">
            <img src="Street2.png" height="350" width="600" />
        </span>
    </div>
    
    <div class="text-content">
        <h3>
            Улица "Мира"
        </h3>
        <p id="p info">
            Самое маленькое название улицы в Лысьве - это улица "Мира".<br />
            На этой улице находятся:
            <ul id="listStreet">
                <li>Самый большой Банк в Лысьве "Сбербанк"</li>
                <li>Парк Пушкина</li>
                <li>Лысьвенский театр драмы</li>
                <li>Площадь Цветов</li>
                <li>Памятник Героям Гражданской войны</li>
                <li>Скульптура "Крылатые качели" на Площади Цветов</li>
                <li>Тц. "центральный"</li>
                <li>Лысвенский музей</li>
                <li>Памятник П.П. Шувалову</li>
                <li>Дом графа Шувалова</li>
                <li>Электротяжмаш-привод</li>
            </ul>
        </p>
    </div>
</div>